.choice {
  padding-top: 180px;
  padding-bottom: 227px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .choice-content {
      max-width: 583px;

      .choice-description {
        margin-top: 40px;
        font-size: 18px;
        line-height: 22px;
      }

      .choice-options {
        margin-top: 60px;
        width: 583px;

        .choice-option {
          background: #FFF;
          border: 1px solid #C1BBBB;
          font-size: 18px;
          line-height: 22px;
          padding: 26px 70px 26px 40px;
          position: relative;
          transition: .2s ease all;

          .choice-option-arrow {
            position: absolute;
            right: 40px;
            top: 27px;
            display: none;
          }

          &:hover .choice-option-arrow {
            display: block;
          }

          &:hover {
            border-left: 5px solid #6933DC;
            cursor: pointer;
            color: #6933DC;
            font-family: 'Museo Bold', sans-serif;
          }
        }
      }
    }
  }
}